<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rigsketball 2015 Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href='/styles.css' rel="stylesheet">
  </head>

  <body>
    <%- body %>
    <script src="/admin.js"></script>

  </body>

</html>
