[Service]
ExecStart=/usr/bin/mongod -f /etc/mongod.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mongod
User=mongod
Group=mongod

[Install]
WantedBy=multi-user.target
