<!doctype html>
<html>

  <head>
    <title>Rigsketball</title>
    <link href='/styles.css' rel="stylesheet">
  </head>

  <body>
    <h1 id="main-title">Rigsketball</h1>

    <div id="main-mount">
      <%- reactOutput %>
    </div>

    <script src="/main.js"></script>

  </body>

</html>
