<% layout('layout') -%>
<div id="main-mount" data-props="<%= JSON.stringify(props) %>">
  <% /*- reactOutput */ %>
</div>
<script src="//d2g9qbzl5h49rh.cloudfront.net/static/feedback2.js?3.3.7497" type="text/javascript">
var JFL_51626431524955 = new JotformFeedback({
formId:'51626431524955',
base:'http://jotformpro.com/',
windowTitle:'2015 REGISTRATION!',
background:'#FFA500',
fontColor:'#FFFFFF',
type:false,
height:500,
width:700,
openOnLoad:false
});
</script>
