<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rigsketball 2015</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href='/styles/styles.css' rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1>Rigsketball</h1>
      <h2 class="script">2015</h2>
    </div>

    <%- body %>

    <footer>
      <span>Created with ❤️ by <a href="http://twitter.com/jesseditson">Jesse Ditson</a></span>
      <br/>
      <span>–</span>
      <br/>
      <span><a href="http://blog.rigsketball.com">rigsketball tumblr</a></span>
    </footer>

    <script src="/js/main.js"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64091412-1', 'auto');
    ga('send', 'pageview');
    </script>

  </body>

</html>
