<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rigsketball 2015</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href='/styles/styles.css' rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1>Rigsketball</h1>
      <h2 class="script">2015</h2>
    </div>

    <%- body %>

    <script src="/js/main.js"></script>

  </body>

</html>
