@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700,900);
@import '../stylesheets/fonts/NexaRustBlack/stylesheet.css';
@import '../stylesheets/fonts/NexaRustBlackShadow/stylesheet.css';
@import '../stylesheets/fonts/NexaRustScriptLight00/stylesheet.css';
@import '../stylesheets/fonts/TrashHand/stylesheet.css';
@import 'compass/css3/transform';
@import 'compass/css3/opacity';
@import 'compass/css3/box-sizing';
@import "compass/css3/transition";

$ash: #655643;
$cyan: #80BCA3;
$offwhite: #F6F7BD;
$orange: #E6AC27;
$darkorange: #BF4D28;

body {
  background-color: $ash;
  background-image: url(/img/asfalt-dark.png);
  font-family: 'trash-hand';
  font-size: 2em;
  color: $offwhite;
  margin: 0px;
  padding: 0px;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color:$darkorange;
  }
}

footer {
  font-family: "Helvetica Neue";
  font-weight: 100;
  text-align: center;
  font-size: 0.5em;
  margin-bottom: 20px;
}

#main-mount nav a {
  font-size: 0.7em;
}
/*
@media (min-width: 1025px) {
  #main-mount nav {
    position: absolute;
    left: -100px;
    width: 100px;
    a {
      float: right;
      clear: both;
      margin-bottom: 20px;
      padding-right: 20px;
      border-right: 3px solid transparent;
      &.selected, &:hover {
        border-right: 3px solid $darkorange;
      }
    }
  }
}


@media (max-width: 1024px) {*/

#main-mount nav {
  display:flex;
  text-align: center;
  a {
    flex-grow: 1;
    margin-bottom: 10px;
    border-bottom: 3px solid transparent;
    &.selected, &:hover {
      border-bottom: 3px solid $darkorange;
    }
  }
}

h1 {
  font-family: 'nexa_rust_sansblack';
  color: $cyan;
}
.header h1 {
  font-family: 'nexa_rust_slabblack_shadow_01';
  font-size: 1.5em;
  margin: 10px;
}

h2.script {
  z-index: 100;
  font-family: 'trash-hand';
  @include transform( rotate(-10deg) );
  position:absolute;
  margin: 0px;
  left: 60%;
  font-size: 1.8em;
  bottom: -28px;
  color: $offwhite;
}

.header {
  width:100%;
  position:relative;
  height: 60px;
  text-align: center;
  border-bottom: 6px solid adjust-lightness($ash, -10);
  padding-bottom: 10px;
}

#main-mount {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position:relative;
}

.blog {
  font-family: 'Alegreya', serif;
  font-size: 0.8em;
}

.bracket {
  margin: 0px;
}

.bracket .round-nav {
  display: flex;
  margin-top:10px;
  a {
    font-size: 0.8em;
    flex-grow: 1;
    color: $orange;
    text-align: center;
    text-decoration: none;
    &:hover {
      color:$darkorange;
    }
    &.selected {
      border-bottom: 5px solid $darkorange;
    }
  }
}

.bracket .round {
  margin: 2px 0px;
}

.bracket .match {
  position: relative;
  margin-bottom: 40px;
  .bubble {
    position: absolute;
    text-align: center;
    color: $cyan;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -41px;
    margin-top: -41px;
    background-color: $ash;
    vertical-align: middle;
    border-radius: 50%;
    border: 3px solid;
    line-height: 30px;
    cursor: pointer;
    span.date {
      position: relative;
      top: 12px;
    }
    span.oneline {
      line-height: 80px;
    }
  }
}

button {
  font-family: 'nexa_rust_sansblack';
  color: $cyan;
  background-color: $ash;
  border-radius: 10%;
  border: 3px solid;
  padding: 10px 20px;
  font-size: 0.7em;
  margin: 0px 10px;
}

.selectable {
  @include transition(all .2s ease-in-out);
  cursor: pointer;
  &:hover {
    @include transform( scale(1.1) );
  }
}

.modal {
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgba($ash, 0.4);
  & > div {
    position: absolute;
    top: 30%;
    background-color: $darkorange;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    left: 10%;
    .buttons {
      text-align:right;
    }
  }
}

.match-edit {
  position: relative;
  .date-picker {
    font-size: 18px;
    position: absolute;
    z-index: 10000;
    top: 20px;
    left: 200px;

    & > * {
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      font-size: 20px;
    }
    textarea {
      width: 100%;
      height: 150px;
      font-size:1em;
    }
  }
  .bubble {
    display:none;
  }
  .links {
    display:none;
  }
}

.band, .post {
  position: relative;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  background-color: $offwhite;
  padding: 20px 0px;
  margin-bottom: 15px;
}

.band {
  p, span {
    color: $ash;
    text-shadow:
       3px 3px 0 $offwhite,
     -1px -1px 0 $offwhite,
      1px -1px 0 $offwhite,
      -1px 1px 0 $offwhite,
       1px 1px 0 $offwhite;
  }
  .score {
    position: absolute;
    right: 20px;
    top:30%;
    font-size: 2em;
  }
}

.match .band, .post {
  .border-bottom {
    background-color: adjust-lightness($darkorange, -10);
    @include transform( skewX(55deg) );
    height: 10px;
    position: absolute;
    left: 6px;
    bottom: -10px;
    width: 100%;
  }
  .border-right {
    background-color: $darkorange;
    @include transform( skewY(40deg) );
    height: 100%;
    position: absolute;
    right: -10px;
    width: 10px;
    top: 4px;
  }
}

.match .info {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $offwhite;
  color: $ash;

  h4, p {
    margin: 0.2em 0.6em;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .vs {
    display: flex;
    text-align: center;
    height:55px;
    line-height: 25px;
    & > * {
      flex-grow: 1;
    }
    & h3 {
      font-size: 0.8em;
    }
    & span {
      font-size: 0.6em;
      padding: 25px 0px;
    }
  }
}

.match.open .info {
  display: block;
}

.match.open .band {
  margin-bottom: 0px;
}

.match.open .bubble {
  @include transition(all .3s ease-in-out);
  @include opacity(0);
  width:0px;
  height:0px;
  margin-left: 0px;
  margin-top: 0px;
}

.match .band {
  @include transition(all .2s ease-in-out);
  height: 80px;
  .band-background-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $ash;
    @include opacity(0.6);
    /* border:10px solid $offwhite;
    @include box-sizing(border-box); */
  }
  p {
    position: absolute;
    margin: 15px;
    margin-left: 20px;
    top: 10px;
  }
  .links {
    bottom: 0px;
    left: 5px;
    height: 32px;
    width: 50%;
    position: absolute;
    & > a {
      height: 100%;
      background-color: $offwhite;
      border-radius: 5px 5px 0px 0px;
      float:left;
      width: 30%;
      padding: 2px 10px;
      margin: 0px 6px;
    }
  }
  .soundcloud, .bandcamp {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .soundcloud {
    background-image: url('/img/soundcloud.png');
  }
  .bandcamp {
    background-image: url('/img/bandcamp.png');
  }
}

.blog {
  margin-top: 20px;

  .post {
    padding: 20px;
    color: $ash;
    font-size: 0.8em;
    margin-bottom: 20px;

    .image img {
      width: 100%;
    }
    .date {
      font-family: "trash-hand";
    }
    .post-url, .date {
      float:right;
      font-size: 0.8em;
      padding: 10px;
    }
  }
}

.available-date {
  font-size: 0.4em;
  p {
    font-size: 1.6em;
  }
}
